<% if @current_artist.band_name %>
<div class="container-fluid">
  <div class="row">
    <h1 class="band-name col-lg"> <%= @current_artist.band_name %> </h1>
  </div>
<% else  %>
<%= link_to "Add New Band Details!", edit_artist_path(@current_artist.id), :class => "btn btn-info btn-lg"  %>
<% end  %>

  <%= link_to "Add New Tour", new_tour_path, :class => "btn btn-info btn-lg"  %>

  <div class="row">
    <div class="future-tours col-lg">
      Future Tours
      <% if @future_tours  %>
      <% @future_tours.each do |tour| %>
      <div class="f-tours">
        <a href="tour_path(tour.id)"> <%= tour.name %> </a>
        <br>
      </div>
      <% end  %>
    </div>
<% end %>

    <div class="past-tours col-lg">
      Past Tours
    <% if @past_tours %>
      <%  @past_tours.each do |tour| %>
      <div class="p-tours">
        <a href="tour_path(tour.id)"> <%= tour.name %> </a>
        <br>
      </div>
      <% end %>
    </div>
    <% end  %>
  </div>
</div>
