<h1><%= @tour.name %></h1>

<%= form_for [@tour, @events], :remote => true do |e| %>
  <div>
    <button id="myBtn" class="btn btn-info btn-lg" type="button">Search City</button>
  </div>
  <br>
  <div>
    <%= e.select :venue_id, options_for_select(@venues.map{|ven| ["#{ven.name}", ven.name, ven.songkick_id] }) %>
  </div>
  <div>
    <%= e.text_field :name, placeholder: "Event Name" %>
  </div>
  <div>
    <%= e.date_field :show_time %>
  </div>
  <br>
    <%= e.submit class:"btn btn-info btn-lg" %>
<% end %>

  <br>

  <%= link_to "Tour Booked", dashboard_path, class:"btn btn-info btn-lg" %>

  <h1>Scheduled Events</h1>
  <% @tour.events.each do |event| %>
    <h2><%= event.name %></h2>
    <h2><%= event.show_time %></h2>
    <br>
  <% end %>

  <div id="myModal" class="modal">
    <div class="modal-content">
      <h3>Enter A City To Find Venues</h3>
      <span class="close">&times;</span>

      <%= form_tag :new_tour_event, method: :get, class: "form" do %>
          <%= text_field_tag :q, ""%>
          <br>
          <%= submit_tag "Locate", lass: "btn-primary"%>
      <% end %>
  </div>

 <script>
 // Get the modal
 var modal = document.getElementById('myModal');

 // Get the button that opens the modal
 var btn = document.getElementById("myBtn");

 // Get the <span> element that closes the modal
 var span = document.getElementsByClassName("close")[0];

 var search = document.getElementById("search");

 // When the user clicks the button, open the modal
 btn.onclick = function() {
   modal.style.display = "block";
 }

 // When the user clicks on <span> (x), close the modal
 span.onclick = function() {
   modal.style.display = "none";
 }
 </script>
