<div class="container">
  <div class="row">
    <div class ="tour-box">
    <div class="col-lg">

    <h1><%= @tour.name%></h1>
      <h3>By: <%= @tour.artist.band_name %></h3>
      <p class ="d-inline btn btn-outline-info btn-sm"><%= link_to "Edit Tour", edit_tour_path(@tour) %></p>

      <% @tour.events.each do |event| %>
        <% if event.show_date > Time.now %>
          <h2><%= link_to event.name, event_path(event) %></h2>
          <p class ="d-inline btn btn-outline-info btn-lg"><%= link_to "Edit Event", edit_event_path(event) %></p>
          <p class ="d-inline btn btn-outline-danger btn-lg"><%= link_to "Delete Event", event_path(event), method: :delete %></p>
        <% else %>
          <h2><%= link_to event.name, event_path(event) %></h2>
          <h4>Event was <%= distance_of_time_in_words_to_now(event.show_date) %> ago!</h4>
        <% end %>
      <% end %>
      </div>
  </div>

    <div class="tour-box">
    <div class="col-lg">
      <h1><%= @tour.name%> Statistics</h1>
      <h2>Total Revenue:</h2>
      <h3><%= number_to_currency(@events.event_gains(@tour)) %></h3>
      <h2>Total Expenses</h2>
      <h3><%= number_to_currency(@events.travel_cost(@tour)) %></h3>
      <h2>Net Profit</h2>
      <h3><%= number_to_currency(@events.event_gains(@tour) - @events.travel_cost(@tour)) %></h3>
    </div>
  </div>
  </div>
</div>
