<div class="box">
  <h1>On The Road Again</h1>
  <h1><u>Team Github Profiles</u></h1>
    <h1><%= link_to "Jimmy Smith", "https://github.com/JSmith23" %></h1>
    <h1><%= link_to "Nick Lindeberg", "https://github.com/NickLindeberg" %></h1>
    <h1><%= link_to "Silvestre Cuellar", "https://github.com/SiCuellar" %></h1>
    <h1><u>Project Github Repo</u></h1>
    <h1><%= link_to "On The Road Again", "https://github.com/NickLindeberg/on_the_road_again" %></h1>
    <h1><u>Venue API</u></h1>

    <h1><%= link_to "Songkick", "https://www.songkick.com/developer" %></h1>
</div>
