<ul>
  <li><%= link_to "Jimmy Smith", "https://github.com/JSmith23" %></li>
  <li><%= link_to "Nick Lindeberg", "https://github.com/NickLindeberg" %></li>
  <li><%= link_to "Silvestre Cuellar", "https://github.com/SiCuellar" %></li>
  <li><%= link_to "Project Repo", "https://github.com/NickLindeberg/on_the_road_again" %></li>
  <li><%= link_to "Songkick", "https://www.songkick.com/developer" %></li>

</ul>
